{{ define "content" }}
<div>
  <div class="header">
    <a id="menu-href" href="">
      <h1><span class="first">Hemma</span><span class="second">&#x2630;</span></h1>
    </a>
  </div>
  <div class="content" id="content">
    <div class="col-2">
      Ute<br />
      <br />
      Tvättstuga<br />
      Hall nere<br />

      Loft<br />
      Badrum uppe<br />
      Hall uppe<br />
      Sovrum<br /><br />

      <br />
      ICA-kort
    </div>
    <div class="col-2 right">
      {{ with .Temperature }}
      {{ printf "%.1f" .Outdoor }} °C<br />
      <br />
      {{ printf "%.1f" .Laundry }} °C<br />
      {{ printf "%.1f" .HallwayDownstairs }} °C<br /><br />

      {{ printf "%.1f" .Loft }} °C<br />
      {{ printf "%.1f" .HallwayUpstairs }} °C<br />
      {{ printf "%.1f" .Bedroom }} °C<br /><br />

      {{ end }}
      <br />
      {{ .Ica }} SEK
    </div>

  </div>
</div>
{{ end }}
<!-- content -->