{{ define "layout"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hemma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Hemma">
    <meta name="apple-mobile-web-app-title" content="Hemma">
    <link rel="apple-touch-icon" href="https://polka.mine.nu:30001/apple-touch-icon.png">
    <link rel="stylesheet" href="css/minimal.css" />
</head>

<body id="body">
    {{ template "content" . }}
    <!-- Menu  -->
    <div id="menu">
        <div class="menu-head">
            <h1>Meny</h1>
        </div>
        <ul>
            <li><a href="/">Start</a></li>
            <li><a href="/library.html">Biblan</a></li>
            <li><a href="/bus.html">Busskort</a></li>
            <li><a href="https://ekonomi.polka.mine.nu/hemma/income_statement/?time=2018">Ekonomi</a></li>
            <li><hr/><a href="https://grafana.polka.mine.nu">Grafana</a></li>
            <li><a href="https://dashboard.polka.mine.nu">Kubernetes</a></li>
            <li><a href="https://prometheus.polka.mine.nu">Prometheus</a></li>
            <li><a href="https://traefik.polka.mine.nu">Traefik</a></li>
            <li><a href="/updates.html">Uppdateringar</a></li>
        </ul>
    </div>
    <script src="js/minimal.js"></script>
</body>

</html>
{{ end }} <!-- layout -->
